.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #2a414c;
  height: 100vh;
  font-family: 'Alegreya Sans';
  padding-top: 2vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.widget {
  width: fit-content;
  position: relative;
}

.widget-wrapper {
  max-height: 400px;
  overflow: scroll;
}

.widget:after {
  content: '';
  width: 100%;
  height: 30px;
  background: linear-gradient(180deg, rgba(42, 65, 76, 0) 0%, #2a414c 100%);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.widget__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #b8ccd9;
  margin-top: 0;
  margin-bottom: 3px;
}
